* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("./images/bg-mobile.png");
    background-color: hsl(229, 57%, 11%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* === GLOBAL___CLASSES === */

.border_5 {
    border-radius: 5px;
}

.border_10 {
    border-radius: 10px;
}

.border_50 {
    border-radius: 50px;
}

.border--top_right {
    border-radius: 5px 80px 5px 5px;
}

.white {
    background-color: hsl(0, 0%, 100%);
}

.pale--blue {
    background-color: hsl(228, 56%, 26%);
}

.grayish--blue {
    background-color: hsl(229, 7%, 55%);
}

.dark--blue {
    background-color: hsl(228, 56%, 26%);
}

.very--dark--blue {
    background-color: hsl(229, 57%, 11%);
}

.gradient--bar {
    background: linear-gradient(180deg, hsl(229, 57%, 11%), hsl(335, 100%, 65%));
}

.bold {
    font-weight: 700;
}

.bold--big {
    font-weight: 700;
    font-size: 2.5em;
}



/* === CLASSES STYILING === */




/* === BOX ONE CONTAINER === */

.box-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.box-one {
    width: 85%;
    height: 30%;
    padding: 30px;
    font-size: 0.5em;
}

.brand {
    height: 60px;
}

.svg-container {
    width: 100%; /* El contenedor se ajustará al ancho de la ventana */
}
.brand-logo {
    width: 100%; /* El SVG se ajustará al ancho del contenedor */
    height: auto; /* La altura se ajustará proporcionalmente */
    transform-origin: top left; /* Punto de origen de la escala */
}


/* SVG_path -> positioning and styling */

.actions {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .actions svg {
    margin-right: 5%;
    width: 50px;
    height: 50px;
  }
  
  .actions .action-icon {
    transform: translate(25%, 25%); /* Centrar el path en el medio del SVG */
  }


/* ============================ */

/* === BOX TWO === */

.content--container {
    width: 85%;
    height: 25%;

    display: flex;
    flex-direction: column;
    padding: 30px 22px;
}

/* === CONTENT === */

.description {
    text-align: center;
    font-size: 0.9em;
    opacity: 0.9;
    margin-bottom: 14px;
}

/* Bar procces styling */

.bar--procces--container {
    display: flex;
    flex-direction: column;
}

.bar {
    width: 90%;
    height: 20px;
    position: relative;
    margin: auto;
    background-color: hsl(229 57% 11% / 45%);;
    padding: 3px;
}

/* Bar procces fixed */

.radius {
    height: 100%;
    width: 70%;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    align-items: end;
}

.dot {
    width: 11px;
    height: 11px;
    background-color: #fefefefe;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% - 69%);
}

/* =========================== */

.ranges {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    font-size: 0.8em;
}

/* ATTENTION BOX */

.attention-box {
    margin: auto;
    padding: 10px 25px;
    width: 60%;
    display: flex;
}

.attention-box p ,.attention-box span {
    color: hsl(229, 57%, 11%);
    display: inline-block;
}

.text-middle{
    margin: auto;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 9px;
}

/* === RESPONSIVE === */

@media (min-width: 375px) {
    
    body {
        width: 100%;
        background: url("./images/bg-desktop.png");
        background-color: hsl(229, 57%, 11%);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .box-container {
        flex-direction: row;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 150px;
    }

    .box-one {
        width: 55%;
        height: 36%;
        padding-top: 40px;
        box-shadow: 0 0 40px 2px hsl(229, 57%, 11%);
    }

    .border--top_right {
        border-radius: 9px 80px 9px 9px;
    }

    .actions {
        height: 60%;
        gap: 8px;
    }

    .content--container {
        box-shadow:  0 0 40px 2px hsl(229, 57%, 11%);
        transform: translateY(27px);
    }

    .description {
        text-align: start;
    }

    .bar {
        width: 95%;
    }

    .attention-box {
        position: fixed;
        top: -39px;
        right: 38px;
        width: fit-content;
        border: 0px solid transparent;
        border-radius: 5px 5px 0 5px;
    }

    .attention-box::after {
        content: "";
        position: absolute;
        bottom: -14px;
        right: 7.5px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-top: 15px solid hsl(0, 0%, 100%);
        transform: scale(2);
      }
  }