* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e6eff6;
    font-size: 16px;
}





.container-grid {
    height: max-content;
    display: grid;
    margin: 80px auto;
    grid-template-rows: 320px 250px 220px;
    width: 84%;
    box-shadow: 0 0 15px 2px #d8e3ed;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 20px 15px 30px 15px;
}

.grid * {
    margin: .2em 0;
}
/* ======================== */
/* First */
/* ======================== */
.first {
    background-color: #ffffff;
}

.first h2 {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
}

.green {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.cyan {
    font-size: 1em;
    line-height: 1.8em;
    color: hsl(218, 22%, 67%);
    font-weight: 400;
}

/* ======================== */
/* Second */
/* ======================== */

.second {
    background-color: #2bb3b1;
}

.second h2 {
    font-size: 1.2em;
    font-weight: 700;
    color: hsl(204, 43%, 93%);
}

.money {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2.4em;
    color: hsl(204, 29%, 97%);
    font-weight: 700;
}

.gray {
    font-size: 0.5em;
    color: #7ce3e8;
}

.text-gray {
    color: #c4fbfb;
    margin-bottom: 20px;
}

.submit {
    width: 90%;
    margin: 0 auto;
    padding: 14px 0;
    font-size: 1em;
    background-color: #bfdf32;
    border: transparent;
    color: #e6eff6;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #179694;
    transition: all .5s;
}

/* ======================== */
/* Third */
/* ======================== */

.third {
    background-color: #4abebd;
}

.third h2 {
    color: #d8e3ed;
}

.third p {
    color: #c4fbfb;
    font-size: .8em;
    line-height: 1.5em;
    width: 70%;
}

/* ======================== */
/* Media */
/* ======================== */

@media screen and (min-width: 375px) {
    
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        position: absolute;
        bottom: 0;
    }

    .container-grid {
        height: max-content;
        display: grid;
        margin: 0 auto;
        justify-content: center;
        grid-template-rows: 2fr 2.2fr;
        grid-template-columns: 400px 400px;
        width: fit-content;
        box-shadow: 0 0 25px 20px #d8e3ed;
        overflow: hidden;
        border-radius: 8px;
    }

    .first {
        grid-row: 1 / 1;
        grid-column: span 2;
        padding: 30px;
    }
    .green {
        margin-bottom: -15px;
        font-size: 1.2em;
    }

    .second {
        grid-row: 2 / 2;
        grid-column: 2 / 1;
        padding: 30px 40px;
    }

    .third {
        grid-row: 2 / 2;
        grid-column: 2 / 2;
        padding: 30px;
    }

    .third h2 {
        margin-bottom: 18px;
    }

    .third p {
        font-size: 1em;
        line-height: 1.5em;
        width: 70%;
    }

    .submit:hover {
        transform: scale(1.1);
    }

}